<br>
<br>

<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= comment.likes %>
  </p>

  <p>
    <strong>Dislikes:</strong>
    <%= comment.dislikes %>
  </p>

  <p>
    <strong>Taps:</strong>
    <%= comment.taps %>
  </p>

  <p>
    <strong>Link to origin:</strong>
    <%= comment.link_to_origin %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= comment.author_name %>
  </p>
</div>

<br>
<br>