<%= form_with(model: startup) do |form| %>
  <% if startup.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(startup.errors.count, "error") %> prohibited this startup from being saved:</h2>

      <ul>
        <% startup.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :author_name, style: "display: block" %>
    <%= form.text_field :author_name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :tags, style: "display: block" %>
    <%= form.text_field :tags %>
  </div>

  <div>
    <%= form.label :User_id, style: "display: block" %>
    <%= form.text_field :User_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
