<br>
<br>

<div id="<%= dom_id startup %>">
  <p>
    <strong>Name:</strong>
    <%= startup.name %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= startup.author_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= startup.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= startup.tags %>
  </p>


</div>

<br>
<br>
