<br>
<br>

<div id="<%= dom_id chat %>">
  <p>
    <strong>Chat number:</strong>
    <%= chat.chat_number %>
  </p>

  <p>
    <strong>Messages counter:</strong>
    <%= chat.messeges_counter %>
  </p>

  <p>
    <strong>Participants counter:</strong>
    <%= chat.participants_counter %>
  </p>

  <div ><%= render chat.messages %></div>

</div>

<br>
<br>